<menu>	<item src="cardiovascular.swf">Cardiovascular System</item>	<item src="digestive.swf">Digestive System</item>	<item src="endocrine.swf">Endocrine System</item>	<item src="excretory.swf">Excretory System</item>	<item src="integumentary.swf">Integumentary System</item>	<item src="lymphatic.swf">Lymphatic System</item>	<item src="muscular.swf">Muscular System</item>	<item src="nervous1.swf">Nervous System</item>	<item src="nervous2.swf">Brain Details</item>	<item src="femaleReproductive.swf">Female Reproductive System</item>	<item src="maleReproductive.swf">Male Reproductive System</item>	<item src="respiratory.swf">Respiratory System</item>	<item src="skeletal.swf">Skeletal System</item></menu>