body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: calc(100vh * 16 / 9);
  max-height: calc(100vw / 16 * 9);
  aspect-ratio: 16 / 9;
  margin: 0px;
  box-sizing: border-box;
}

#wrapper {
  position: absolute;
  inset: 0px;

  display: flex;
  flex-flow: row nowrap;
  place-items: stretch;
  padding: 50px;
  gap: 25px;

  background: linear-gradient(
    to right bottom,
    rgb(145, 23, 14) 0%,
    rgb(54, 9, 5) 100%
  );
}

.iframe-wrapper {
  min-width: 0px;
  overflow: hidden;
  box-shadow: 10px 10px 30px 0px rgb(0, 0, 0, 75%);

  iframe {
    border: none;
  }
}

#sched-and-lunch {
  width: 100%;
  height: 100%;

  .iframe-wrapper:has(&) {
    flex-grow: 1;
    flex-basis: 0px;
  }
}

#slideshow {
  width: 103%;
  height: 105%;
  transform: translateX(-1.5%) translateY(-0.5%);

  .iframe-wrapper:has(&) {
    flex-basis: min-content;
    height: 100%;
    aspect-ratio: 4 / 3;
  }
}
