html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	transform-origin: 0 0;
	}

.wrapper {
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0px; 
	display: flex;
	flex-direction: row;
	
}

.content-box {
	box-sizing: border-box;
	order: 2;
	display: flex;
	flex-direction: column;
	flex-basis: 1320px;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.main-slideshow-box {
	width: 1320px;
	height: 900px;
	overflow: hidden;
	order: 1;
}

.daily-info {
	box-sizing: border-box;
	flex-basis: auto;
	flex-grow: 1;
	order: 1;
	background: #FFF;
	overflow: hidden;
}

.footer {
	box-sizing: border-box;
	order: 2;
	border: 1px solid red;
	flex-grow: 1;
	
}

.main-slideshow-box iframe {
	width: 101%;
	height: 105%;
	overflow: hidden;
	position: absolute;
	left: -1%;
	top: -1%;
}

/**
  * DAILY INFO Styles
  */
  
#letter-outer {
  text-align: center;
  font-family: 'Cantora One';
  font-size: 36px;
  margin-bottom: 15px;
}

.day {
  font-size: 80px;
  display: none;  /*block;*/
  color: #000;
  line-height: 50px;
  text-align: center;
  width: 220px;
  margin: 0 auto;
  margin-top: 30px;
}
  
.letter-wrapper { 
  width: 100%;
  text-align: center;
  position: relative;
}
.letter-wrapper img {
    max-height: 180px;
    max-width: 265px;
}

.letter-wrapper .letter {
  font-size: 4em;
  line-height: 1.0em;
  font-weight: bold;
  color: #b51e12;
  vertical-align: middle;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 220px;
  }
  
.letter-wrapper .star {
  font-size: 5em;
  line-height: 0.8em;
  font-weight: bold;
  color: #b51e12;
  vertical-align: middle;
  text-align: center;
  display: block;
  margin: 0 auto;
  }

.letter-wrapper .special {
  position: absolute;
  top: 1em;
  vertical-align: middle;
  display: block;
  color: #000;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transform: rotate(-10deg);
  

}

#schedBox, #lunchBox {
  padding-bottom: 15px;
  font-family: 'Roboto Condensed';
  font-size: 18px;
}

#schedBox #date,
#lunchBox .date {
  font-size: 1.3em;
  font-weight: bold;
  color: #b51e12;
  width: 100%;
  text-align: center;
  }

  #schedBox #date {
    padding-bottom: 10px;
  }
  
#schedBox table {
  color: #000000;
  width: 100%;
  font-size: 1em;
  line-height: 0.95em;
}

#schedBox table td {
  padding: 0.2em
}

#schedBox table td.lunch {
  padding: 0px 0px;
}


#schedBox table.no-data td {
  text-align: center;
  }

#schedBox table td.timecell:first-child {
  color: #b51e12;
  text-align: right;
}

#schedBox .lunch {
  font-size: 70%;
}

#lunchBox {
   /* display: none; */
}

#lunchBox table {
  width: 100%;
  font-size: 1em;
}

#lunchBox td {
  padding: 6px;
  text-align: center;
}

#lunchBox td.menuTitle {
  font-weight: bold;
  font-style: italic;
}

#lunchBox table.no-data td {
  text-align: center;
  }

  
